@import url('skeleton.css');
@import url('reset.css');
@import url('print.css');
@import url('stylesheet.css');
@import url('pygment_trac.css');

/* So few characters, Twitter shut down for a moment of solidarity 
Uganda offered to send more chars, that minimal
*/

body {
	background: #000000;
	font-color: #464442;
}

.content {
	margin: 13% auto;
	width: 340px;
	text-align: center;
}

.content img.logo {
	width: 250px;
	margin-bottom: 15px;
}